@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-primary: #000;
  --bgPrimary: #fff;
  --pink: #0071bd;
  --light-blue: #e6f7ff;
  --border: #d9d9d9;
}

/* App start */
.navbar {
  background-color: rgb(0, 21, 41);
}

.footer {
  background-color: rgb(0, 21, 41);
}
/* App end */

/* Navbar start */
.home:hover .homeicon,
.cryptocurrencies:hover .cryptocurrenciesicon,
.exchanges:hover .exchangesicon,
.news:hover .newsicon {
  color: white;
}

.home:hover .navcomname,
.cryptocurrencies:hover .navcomname,
.exchanges:hover .navcomname,
.news:hover .navcomname {
  color: white;
}
/* Navbar end */

/* Cryptocurrencies start */
.searchcrypto {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px 0 30px 600px;
  width: 23%;
  height: 43px;
  border: 1px solid var(--border);
  border-radius: 5px;
}

.searchcrypto input::placeholder {
  font-size: 14px;
}

.searchcrypto input {
  margin: 0 0 0 15px;
  background-color: transparent;
  outline: none;
  border: none;
  font-size: 14px;
  width: 100%;
}

.searchcrypto:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}

.cryptocard {
  border: 1px solid rgba(12, 12, 12, 0.062);
  border-radius: 10px;
  overflow: hidden;
  height: 210px;
  width: 262.2px;
  background-color: white;
  cursor: pointer;
  margin: 0 25.5px 30px 0;
}

.cryptocard:hover {
  box-shadow: 0 0 11px rgba(24, 23, 23, 0.2);
}

.cryptoboxline {
  height: 1.5px;
}
/* cryptocurrency end */

/* News start */
.news-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  padding: 0 20px 20px 20px;
  gap: 40px;
}

.news-card:hover {
  box-shadow: 0 0 11px rgba(24, 23, 23, 0.2);
}

.news-provider-image {
  width: 11%;
}

.news-provider-image img {
  object-fit: cover;
}
/* News end */

/* CryptoDetails start */
.coin-name {
  color: var(--pink);
  font-weight: bold;
  font-size: 35px;
}

.xline {
  height: 1.5px;
  width: 98%;
  margin-left: 15px;
  background-color: #ccc;
}

.coin-value-statistics-heading p,
.other-stats-info-heading p {
  margin-top: 10px;
  font-size: 15px;
}

.link-name {
  margin-right: 10px;
  color: var(--pink);
  font-weight: bold;
}
/* CryptoDetails end */

/* Loader start */
.loader {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #00a6fb;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
/* Loader end */

/* Linechart start */
.chart-title {
  font-size: 28px;
  color: var(--pink);
  font-weight: bold;
}
/* Linechart end */
